In [1]:
# The code was removed by Watson Studio for sharing.

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20200715155253-0000
KERNEL_ID = 9b24474f-667e-47a7-ad93-18b9f4ee4e70

,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,H,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,390
0,100.0,98.0,97.0,96.0,94.0,91.0,86.0,80.0,69.0,59.0,55.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100.0,98.0,97.0,96.0,94.0,91.0,86.0,80.0,69.0,59.0,52.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100.0,98.0,97.0,96.0,94.0,91.0,86.0,80.0,67.0,59.0,51.0,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100.0,98.0,97.0,96.0,94.0,91.0,86.0,79.0,66.0,58.0,50.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100.0,98.0,97.0,96.0,94.0,91.0,85.0,78.0,65.0,56.0,50.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN